---
layout: layouts/base.njk

---

    <table class="sortable summary-(Click_a_column_header_to_sort) ascendingText-(sorted_ascending) descendingText-(sorted_descending)">
    <thead>
  <caption class="display-6">
    State-Level Transfer-of-Rights Rules
  </caption>
  
    <tr>
      <th scope="col">
        <p><strong>Jurisdiction</strong></p>
      </th>
      <th scope="col">
        <p><strong>Do IDEA Parental Rights Transfer?</strong></p>
      </th>
      <th scope="col">
        <p>
          <strong>Is There a Transfer-of-Rights Statute or Regulation?</strong>
        </p>
      </th>
      <th scope="col">
        <p><strong>Does It Clearly Satisfy All IDEA Requirements?</strong></p>
      </th>
      <th scope="col">
        <p><strong>Does It Refer to a Special Rule?</strong></p>
      </th>
      <th scope="col">
        <p><strong>Does It Mention Alternatives to Guardianship?</strong></p>
      </th>
    </tr>
    <tr>
    </thead>
  <tbody>
      <th scope="row">
        <p>AL</p>
      </th>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>No</p>
      </td>
    </tr>
    <tr>
      <th scope="row">
        <p>AK</p>
      </th>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>No</p>
      </td>
      <td>
        <p>No</p>
      </td>
    </tr>
    <tr>
      <th scope="row">
        <p>AZ</p>
      </th>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>No</p>
      </td>
      <td>
        <p>No</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
    </tr>
    <tr>
      <th scope="row">
        <p>AR</p>
      </th>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>No</p>
      </td>
      <td>
        <p>No</p>
      </td>
    </tr>
    <tr>
      <th scope="row">
        <p>BIE</p>
      </th>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>No</p>
      </td>
      <td>
        <p>N/A</p>
      </td>
      <td>
        <p>N/A</p>
      </td>
      <td>
        <p>N/A</p>
      </td>
    </tr>
    <tr>
      <th scope="row">
        <p>CA</p>
      </th>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>No</p>
      </td>
      <td>
        <p>No</p>
      </td>
      <td>
        <p>No</p>
      </td>
    </tr>
    <tr>
      <th scope="row">
        <p>CO</p>
      </th>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>No</p>
      </td>
      <td>
        <p>No</p>
      </td>
      <td>
        <p>No</p>
      </td>
    </tr>
    <tr>
      <th scope="row">
        <p>CT</p>
      </th>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
    </tr>
    <tr>
      <th scope="row">
        <p>DE</p>
      </th>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>No</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
    </tr>
    <tr>
      <th scope="row">
        <p>DOD</p>
      </th>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>No</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>No</p>
      </td>
    </tr>
    <tr>
      <th scope="row">
        <p>DC</p>
      </th>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>No</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
    </tr>
    <tr>
      <th scope="row">
        <p>FL</p>
      </th>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>No</p>
      </td>
    </tr>
    <tr>
      <th scope="row">
        <p>GA</p>
      </th>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>No</p>
      </td>
      <td>
        <p>No</p>
      </td>
      <td>
        <p>No</p>
      </td>
    </tr>
    <tr>
      <th scope="row">
        <p>HI</p>
      </th>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>No</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
    </tr>
    <tr>
      <th scope="row">
        <p>ID</p>
      </th>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>No</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>No</p>
      </td>
    </tr>
    <tr>
      <th scope="row">
        <p>IL</p>
      </th>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>No</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
    </tr>
    <tr>
      <th scope="row">
        <p>IN</p>
      </th>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
    </tr>
    <tr>
      <th scope="row">
        <p>IA</p>
      </th>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>No</p>
      </td>
    </tr>
    <tr>
      <th scope="row">
        <p>KS</p>
      </th>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>No</p>
      </td>
      <td>
        <p>No</p>
      </td>
    </tr>
    <tr>
      <th scope="row">
        <p>KY</p>
      </th>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>No</p>
      </td>
      <td>
        <p>No</p>
      </td>
      <td>
        <p>No</p>
      </td>
    </tr>
    <tr>
      <th scope="row">
        <p>LA</p>
      </th>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>No</p>
      </td>
    </tr>
    <tr>
      <th scope="row">
        <p>ME</p>
      </th>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>No</p>
      </td>
      <td>
        <p>No</p>
      </td>
    </tr>
    <tr>
      <th scope="row">
        <p>MD</p>
      </th>
      <td>
        <p>No</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>N/A</p>
      </td>
      <td>
        <p>N/A</p>
      </td>
      <td>
        <p>N/A</p>
      </td>
    </tr>
    <tr>
      <th scope="row">
        <p>MA</p>
      </th>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>No</p>
      </td>
      <td>
        <p>No</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
    </tr>
    <tr>
      <th scope="row">
        <p>MI</p>
      </th>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>No</p>
      </td>
      <td>
        <p>No</p>
      </td>
      <td>
        <p>No</p>
      </td>
    </tr>
    <tr>
      <th scope="row">
        <p>MN</p>
      </th>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>No</p>
      </td>
      <td>
        <p>No</p>
      </td>
      <td>
        <p>No</p>
      </td>
    </tr>
    <tr>
      <th scope="row">
        <p>MS</p>
      </th>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>No</p>
      </td>
    </tr>
    <tr>
      <th scope="row">
        <p>MO</p>
      </th>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>No</p>
      </td>
      <td>
        <p>N/A</p>
      </td>
      <td>
        <p>N/A</p>
      </td>
      <td>
        <p>N/A</p>
      </td>
    </tr>
    <tr>
      <th scope="row">
        <p>MT</p>
      </th>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>No</p>
      </td>
      <td>
        <p>No</p>
      </td>
      <td>
        <p>No</p>
      </td>
    </tr>
    <tr>
      <th scope="row">
        <p>NE</p>
      </th>
      <td>
        <p>No</p>
      </td>
      <td>
        <p>No</p>
      </td>
      <td>
        <p>N/A</p>
      </td>
      <td>
        <p>N/A</p>
      </td>
      <td>
        <p>N/A</p>
      </td>
    </tr>
    <tr>
      <th scope="row">
        <p>NV</p>
      </th>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>No</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>No</p>
      </td>
    </tr>
    <tr>
      <th scope="row">
        <p>NH</p>
      </th>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>No</p>
      </td>
      <td>
        <p>No</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
    </tr>
    <tr>
      <th scope="row">
        <p>NJ</p>
      </th>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>No</p>
      </td>
      <td>
        <p>No</p>
      </td>
      <td>
        <p>No</p>
      </td>
    </tr>
    <tr>
      <th scope="row">
        <p>NM</p>
      </th>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>No</p>
      </td>
      <td>
        <p>No</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
    </tr>
    <tr>
      <th scope="row">
        <p>NY</p>
      </th>
      <td>
        <p>No</p>
      </td>
      <td>
        <p>No</p>
      </td>
      <td>
        <p>N/A</p>
      </td>
      <td>
        <p>N/A</p>
      </td>
      <td>
        <p>N/A</p>
      </td>
    </tr>
    <tr>
      <th scope="row">
        <p>NC</p>
      </th>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>No</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>No</p>
      </td>
    </tr>
    <tr>
      <th scope="row">
        <p>ND</p>
      </th>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>No</p>
      </td>
      <td>
        <p>N/A</p>
      </td>
      <td>
        <p>N/A</p>
      </td>
      <td>
        <p>N/A</p>
      </td>
    </tr>
    <tr>
      <th scope="row">
        <p>OH</p>
      </th>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>No</p>
      </td>
      <td>
        <p>No</p>
      </td>
      <td>
        <p>No</p>
      </td>
    </tr>
    <tr>
      <th scope="row">
        <p>OK</p>
      </th>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>No</p>
      </td>
      <td>
        <p>N/A</p>
      </td>
      <td>
        <p>N/A</p>
      </td>
      <td>
        <p>N/A</p>
      </td>
    </tr>
    <tr>
      <th scope="row">
        <p>OR</p>
      </th>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>No</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
    </tr>
    <tr>
      <th scope="row">
        <p>PA</p>
      </th>
      <td>
        <p>No</p>
      </td>
      <td>
        <p>No</p>
      </td>
      <td>
        <p>N/A</p>
      </td>
      <td>
        <p>N/A</p>
      </td>
      <td>
        <p>N/A</p>
      </td>
    </tr>
    <tr>
      <th scope="row">
        <p>PR</p>
      </th>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>No</p>
      </td>
      <td>
        <p>N/A</p>
      </td>
      <td>
        <p>N/A</p>
      </td>
      <td>
        <p>N/A</p>
      </td>
    </tr>
    <tr>
      <th scope="row">
        <p>RI</p>
      </th>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>No</p>
      </td>
      <td>
        <p>No</p>
      </td>
    </tr>
    <tr>
      <th scope="row">
        <p>SC</p>
      </th>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>No</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
    </tr>
    <tr>
      <th scope="row">
        <p>SD</p>
      </th>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>No</p>
      </td>
    </tr>
    <tr>
      <th scope="row">
        <p>TN</p>
      </th>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>No</p>
      </td>
      <td>
        <p>No</p>
      </td>
      <td>
        <p>No</p>
      </td>
    </tr>
    <tr>
      <th scope="row">
        <p>TX</p>
      </th>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>No</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
    </tr>
    <tr>
      <th scope="row">
        <p>UT</p>
      </th>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>No</p>
      </td>
      <td>
        <p>No</p>
      </td>
    </tr>
    <tr>
      <th scope="row">
        <p>VT</p>
      </th>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>No</p>
      </td>
      <td>
        <p>No</p>
      </td>
      <td>
        <p>No</p>
      </td>
    </tr>
    <tr>
      <th scope="row">
        <p>VA</p>
      </th>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
    </tr>
    <tr>
      <th scope="row">
        <p>WA</p>
      </th>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>No</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
    </tr>
    <tr>
      <th scope="row">
        <p>WV</p>
      </th>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>No</p>
      </td>
      <td>
        <p>No</p>
      </td>
      <td>
        <p>No</p>
      </td>
    </tr>
    <tr>
      <th scope="row">
        <p>WI</p>
      </th>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>No</p>
      </td>
      <td>
        <p>No</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
    </tr>
    <tr>
      <th scope="row">
        <p>WY</p>
      </th>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>Yes</p>
      </td>
      <td>
        <p>No</p>
      </td>
      <td>
        <p>No</p>
      </td>
      <td>
        <p>No</p>
      </td>
    </tr>
  </tbody>
</table>

    
    
