<!doctype html>
<html lang="en">
  {% include "head.njk" %}
  <body>

{% include "header.njk" %} 
    <main class=" container-xl">
    {% if eleventyNavigation %}
 {% else %}
<p> <a href="/">&#8592; back</a></p>
 {% endif %}
    {% if title %}
  <h1>{{ title }}</h1>
  <hr>
{% endif %}

  {% if document_upload %}
  <div class="card" style="width: 18rem; float:right;">
  <img src="{{ thumbnail }}" class="card-img-top" alt="download {{ title }}">
  <div class="card-body">
    
    <p class="card-text"><a href="{{document_upload}}" >Download {{ title }}</a></p>
    
  </div>
</div>
 
{% endif %}

{%if embed %}
<div class="mx-auto" style="max-width:800px; padding:3em;">
{{ embed | safe }}
</div>
{% endif %}


      {{ content | safe }}


    </main>

   {% include "footer.njk" %}
